@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--Poppins-font);
}

:root {
    --primary-color: #3f634d;
    --primary-light: #3c8968;
    --text-color: #244034;
    --secondary-color: #d2f34c;
    --text-light: rgba(0, 0, 0, 0.5);
    --gray-light-color: rgba(36, 64, 52, 0.5);
    --red: #ff2730;
    --white: #fff;
    --black: #000;

    --Bricolage-font: "Bricolage Grotesque", sans-serif;
    --Poppins-font: "Poppins", sans-serif;

    --transition-regular: 0.3s;
    --transition-slow: 0.6s;
}

.bricolage-font {
    font-family: var(--Bricolage-font);
}

body {
    overflow-y: hidden;
}

.logo a h2 {
    @apply font-bricolage
}


.logo a h2 span {
    @apply font-bricolage
}

.sidebar {
    overflow-y: auto;
    min-width: 350px;
    width: 350px;
    height: 100vh;
    min-height: 100vh;
    position: absolute;
    overflow-y: scroll;
    z-index: 999;
    scrollbar-width: none;
    scrollbar-color: #ccc transparent;
}

.sidebar::-webkit-scrollbar {
    width: 1px;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.user-name::after {
    display: inline-block;
    margin-left: 10px;
    vertical-align: 2px;
    content: '';
    border-top: .3em solid;
    border-left: .3em solid transparent;
    border-bottom: 0;
    border-right: .3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    inset: 0 auto auto 0;
    margin: 0;
    transform: translate(0px, 50px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
}

.dashboard-main-nav li a.active {
    background-color: var(--primary-color);
}

.dashboard-main-nav li a.active img:nth-child(1) {
    display: none;
}

.dashboard-main-nav li a.active img:nth-child(2) {
    display: block;
}

.dashboard-main-nav li a:hover {
    color: var(--primary-light);
}

.dashboard-main-nav li a.active {
    background-color: var(--primary-color);
    color: var(--white);
}

.process-line {
    width: 100%;
    background-color: var(--primary-color);
    height: 5px;
    position: relative;
    border-radius: 30px;
    margin: 14px 0;
}

.process-line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: var(--secondary-color);
    border-radius: 30px;
}

@media screen and (max-width: 1000px) {
    .sidebar {
        top: 0;
        margin-left: -100%;
        transition: .5s ease-in-out;
    }

    .sidebar.active {
        margin-left: 0;
        transition: .5s ease-in-out;
    }

    .main {
        margin-left: 0% !important;
    }
}

@media screen and (max-width: 500px) {
    .sidebar {
        max-width: 100%;
        width: 100%;
    }
}

/* Dashboard main content */
.main {
    padding: 115px 55px 50px;
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
    border: 50px 0 0 50px;
}

.nav-main {
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
}

.badge-pill {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 7px;
    height: 7px;
    background-color: var(--red);
    border-radius: 50px;
}

.notification-item h6 {
    letter-spacing: -0.2px;
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.dashboard-item {
    padding: 22px 35px 34px;
    z-index: 1;
}

.dashboard-item::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    bottom: -10px;
    right: 12px;
    z-index: 0;
    border-radius: 30px;
    background: hsla(0,0%,100%, .6);
}

@media screen and (max-width: 1400px) {
    .dashboard-item {
        padding: 22px 15px 15px;
    }
    
}

@media screen and (max-width: 767px) {
    .main {
        padding: 105px 30px 0.5em;
    }

    .nav-main {
        padding: 0px 30px;
    }
}

.header-text {
    padding: 25px 0px 25px 30px;
    font-size: 1.5rem;
}

.header-body-content {
    padding: 25px 25px 25px 30px;
}

.content::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1100px) {
    .content {
        overflow-y: scroll;
    }
}